<div class="container-fluid">
    <section id="contenido" class="">
        <div id="" class="">
            <h1 class="">Comunicación desde el componente padre al hijo mediante input</h1>
        </div>
        <div >
            <p>La que más se suele utlizar. Consiste en usar la etiqueta @Input de Angular. Ésta etiqueta se pone en el componente hijo para indicar que esa variable proviene desde fuera del componente, es decir desde el componente padre usamos el selector del hijo para incluirlo en el html y le pasamos el valor que queremos pasar al hijo:</p>
        </div>
        <div>
            <p>En el componente hijo:</p>
            <iframe src="https://drive.google.com/file/d/1zKy7LYFB5RYBmdAoBCkIuZUln13QU50V/preview" width="640" height="480"></iframe>
            <p>En el componente padre:</p>
            <iframe src="https://drive.google.com/file/d/1npBDO-G6XmDjNMLZjd1jQk-GxZ3zBseo/preview" width="640" height="480"></iframe>
        </div>
        <div >
            <p>Para el ejemplo he puesto el template html de los componentes directamente en el controlador para ahorrar espacio pero funciona igual si tienes un archivo html a parte. El valor de la variable childMessage viene desde el componente padre y se la pasamos desde el html mediante [childMessage].</p>
        </div>
    </section>
</div>
