<div class="container-fluid">
    <section id="cabecera" class="row">
        <h1 class="col-12 col-sm-12">Tarea Modulo 4 y Modulo 5</h1>
        <h2 class="col-12 col-sm-12">Eileen Sanchez</h2>
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/cf/Angular_full_color_logo.svg/1200px-Angular_full_color_logo.svg.png" alt="Logo de Conectado" class="mx-auto" />
    </section>
    <section id="contenido" class="row">
        <div id="profesores" class="col-12 col-sm-6">
            <h3 class="tituloseccion">
                Contenido de los modulos
            </h3>
            <ul>
                <li>Descripcion de la sesión, en donde, se explica la navegación</li>
                <li>Descripcion de la sesión, en donde, se explica la data-binding</li>
                <li>Descripcion de como se identifica un componente padre y un componente hijo</li>

            </ul>
        </div>
        <div id="estudiantes" class="col-12 col-sm-6">
            <h3 class="tituloseccion">
                Practica
            </h3>
            <ul>
                <li>Descripcion de la Practica Realizada</li>
                <li>Descripcion de las dificultades encontradas</li>
            </ul>
        </div>
    </section>
</div>
