<div class="container-fluid">
    <section id="contenido" class="">
        <div id="" class="">
            <h1 class="">Dificultades de la Tarea</h1>
        </div>
        <div >
            <h3>Routing</h3>
            <p>Se logro con exito el routing, pero existen ciertos detalles </p>
        </div>
        <div >
            <h3>Data-Binding</h3>
            <p>Los enlaces de datos es un concepto algo complicado, por eso lo considero una dificultad.</p>
        </div>
        <div>
            <h3>Diferencia entre Componente Padre y Componente Hijo</h3>
            <p>En esta pagina un componente es un main es decir un contenido completo, para mi la diferencia entre componente Padre e Hijo es cuando el contenido es demasiado amplio y se empieza a modular entonces ejemplizando el termino tomemos de ejemplo este proyecto, el componente padre seria app-Component y sus hijos serias todos los componentes que tenemos en la carpeta mi-pagina, que son llamados desde el padre.</p>
        </div>
    </section>
</div>
