<div class="container-fluid">
    <section id="contenido" class="">
        <div id="" class="">
            <h1 class="">Dificultades de la Tarea</h1>
        </div>
        <div >
            <h3>Routing</h3>
            <p>Se logro con exito el routing, pero existen ciertos detalles </p>
        </div>
        <div >
            <h3>Data-Binding</h3>
            <p>Los enlaces de datos es un concepto algo complicado, por eso lo considero una dificultad.</p>
        </div>
        <div>
            <h3>Diferencia entre Componente Padre y Componente Hijo</h3>
            <p>Basicamente cuando usamos childMessage es que estamos recibiendo un valor desde el componente padre</p>
        </div>
    </section>
</div>
