/* Add application styles & imports to this file! */
@import '~bootstrap/dist/css/bootstrap.min.css';
@import '~bootstrap/dist/css/bootstrap.min.css';
footer > p {
  margin-top: 8%;
  text-align: center;
}

.codigo{
  color: green;
  border-style: solid;
  border-color: black;
  padding: 20px;
  margin-right: 20%;
  margin-left: 20%;
}

h3{
  padding-top: 3%;
}