<div class="container-fluid">
    <section id="contenido" class="">
        <div id="" class="">
            <h1 class="">Tarea Practica</h1>
        </div>
        <div >
            <h3>Crear Proyecto</h3>
            <p>se creo un proyecto y se genero el routing al crear el proyecto</p>
        </div>
        <div >
            <h3>Crear un Menu</h3>
            <p>Se creo un menu a partir de una lista con estilo de bootstrap a la cual le aplicare el Routing</p>
        </div>
        <div>
            <h3>Modulo y componentes</h3>
            <p>Se creo el modulo general y todos los componentes para el rputing incluyendo el footer y el propio nav</p>
        </div>
        <div>
            <h3>Paginas</h3>
            <p>La primera pagina contiene el contenido de como se realiza el routing</p>
            <p>La segunda pagina contiene informacion sobre Data Binding</p>
            <p>La tercera de la diferencia entre componentes(Padre e Hijo)</p>
            <p>La actual pagina es la descripcion de la Tarea Completa</p>
            <p>La ultima pagina contiene informacion acerca de las dificultades encontradas en la tarea</p>
        </div>
    </section>
</div>
